* {
  font-family: sans-serif;
}

html {
  margin-left: 75px;
}

.icons {
  position: fixed;
  top: 0;
  left: 0;
  width: 75px;
  height: 100%;
  background-color: lightgrey;
}

.icons i {
  width: 64px;
  height: 75px;
  font-size: 32px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;

  text-decoration: none;
  color: black;
  transition: background 0.3;
}

.icons i:hover {
  background: darkgrey;
}

.album-section {
  padding: 50px;
  margin: 20px;
  background-color: burlywood;
  box-sizing: border-box;
  height: 30%;
  width: 100%;
}

.container {
}

.cattyboard-img {
  float: left;
  width: 170px;
  height: 170px;
}

.right-side {
  padding-left: 200px;
  font-weight: bold;
}

.song-section {
  box-sizing: border-box;
  align-items: center;
  font-weight: bold;

  padding: 20px;
  margin: 20px;
  width: 100%;
  height: 100%;
}

#song-name {
  float: left;
  padding: 20px;
}

#artist-name {
  float: left;
  list-style: none;
  padding: 20px;
}

#song-length {
  float: left;
  padding: 20px;

  list-style: none;
}

#cloud-sync {
  float: right;
  padding: 20px;
  border: 5px solid black;
  list-style: none;
}

ul {
  display: inline;
}

.song-playing-section {
  width: 100%;
  background: lightskyblue;
  bottom: 24px;
  position: absolute;
}

#catboard {
  float: left;
  margin: 20px;
  width: 75px;
  height: 75px;
}

.song-control {
  width: 25px;
  height: 25px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 400px;
  float: right;
}
