* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(res/banner.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after {
  content: " ";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  letter-spacing: 2px;
  color: #fff;
}

.hero-btn {
  display: inline-block;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 20px;
}

.hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}

nav .fa {
  display: none;
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }

  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;
  }
}

/*---- course section -----*/

.course {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.course h1 {
  font-size: 36px;
  font-weight: 600px;
}

.course p {
  color: black;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.course-colum {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.course-colum h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.course-colum:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* campus section */

.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.campus-colum {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.campus-colum img {
  width: 100%;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(226, 0, 0, 0.7);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

/* facilities section */

.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.facilities-colum {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.facilities-colum img {
  width: 100%;
  border-radius: 10px;
}

.facilities-colum p {
  padding: 0;
}

.facilities-colum h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

/* testimonials */

.testimonials {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}

.testimonial-colum {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
}

.testimonial-colum img {
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}

.testimonial-colum p {
  padding: 0;
}

.testimonial-colum h3 {
  margin-top: 15px;
  text-align: left;
}

@media (max-width: 700px) {
  .testimonial-colum img {
    margin-left: 0px;
    margin-right: 15px;
  }
}

/* registration section */

.registration-form {
  width: 80%;

  text-align: left;
  margin: 0 auto;
  padding: 25px 30px;
}

.registration-form .title {
  font-size: 25px;
  font-weight: 500;
}

.user-details .input-box input {
  height: 45px;
  width: 50%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  padding-left: 15px;
  border-bottom-width: 2px;
  transition: 0.3s ease;
}

.input-box {
  padding-top: 15px;
  padding-bottom: 15px;
}

.details {
  display: flex;
  font-weight: 600;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #f44336;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .gender-details .category {
  display: flex;
  width: 30%;
  margin: 14px 0;
  justify-content: space-between;
}

.gender-details .category label {
  display: flex;
  align-items: center;
}

.gender-details .category .dot {
  height: 15px;
  width: 15px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
  transition: 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  border-color: #d9d9d9;
  background: #9b59b6;
}

form input[type="radio"] {
  display: none;
}

form .button {
  height: 45px;
  margin: 45px 0;
}

form .button input {
  height: 100%;
  width: 10%;
  outline: none;
  background: transparent;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}

form .button input:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}
